---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&fields=items(id/videoId,snippet/title)&key=<youtube_api_key>&maxResults=1&part=snippet&q=germany
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "items": [
            {
              "id": {
                "videoId": "7sxora2imC0"
              },
              "snippet": {
                "title": "A Super Quick History of Germany"
              }
            }
          ]
        }
  recorded_at: Mon, 14 Nov 2022 18:22:48 GMT
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?api_key=<flickr_api_key>&content_type=1&extras=url_c&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=10&text=germany
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":40250,"perpage":10,"total":402493,"photo":[{"id":"52499357297","owner":"11988752@N04","secret":"8227eb2f06","server":"65535","farm":66,"title":"Victoria
        cykel med Victoria FM 38 L cykelmotor","ispublic":1,"isfriend":0,"isfamily":0,"url_c":"https:\/\/live.staticflickr.com\/65535\/52499357297_8227eb2f06_c.jpg","height_c":370,"width_c":800},{"id":"52500320635","owner":"136445189@N07","secret":"9d9fe2e4a6","server":"65535","farm":66,"title":"Fossa
        - Allwetter Zoo M\u00fcnster","ispublic":1,"isfriend":0,"isfamily":0,"url_c":"https:\/\/live.staticflickr.com\/65535\/52500320635_9d9fe2e4a6_c.jpg","height_c":533,"width_c":800},{"id":"52499354252","owner":"121141396@N06","secret":"25f623a072","server":"65535","farm":66,"title":"Feel
        the heat","ispublic":1,"isfriend":0,"isfamily":0,"url_c":"https:\/\/live.staticflickr.[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=<youtube_api_key>&maxResults=1&part=snippet&q=germany
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "g4XeK4i7436hKXbGncBx3gKjqNM",
          "nextPageToken": "CAEQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 66,
            "resultsPerPage": 1
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "lmwiXeibmOitA4n8oUrK3sZvbyQ",
              "id": {
                "kind": "youtube#video",
                "videoId": "7sxora2imC0"
              },
              "snippet": {
                "publishedAt": "2020-08-29T12:59:40Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "A Super Quick History of Germany",
                "description": "Sources: A Concise History of Germany (2019) by Mary Fulbrook, Cambridge University Press, Cambridge, UK. The Shortest ...",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/7sxora2imC0/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/7sxora2imC0/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/7sxora2imC0/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Mr History",
                "liveBroadcastContent": "none",
                "publishTime": "2020-08-29T12:59:40Z"
              }
            }
          ]
        }
  recorded_at: Tue, 15 Nov 2022 14:21:10 GMT
recorded_with: VCR 6.1.0
