---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?api_key=<flickr_api_key>&content_type=1&extras=url_c&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=10&text=bermuda
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":35989,"perpage":10,"total":359882,"photo":[{"id":"52501549281","owner":"130396812@N06","secret":"d3ac11129a","server":"65535","farm":66,"title":"Hibiscus
        in St. George Bermuda","ispublic":1,"isfriend":0,"isfamily":0,"url_c":"https:\/\/live.staticflickr.com\/65535\/52501549281_d3ac11129a_c.jpg","height_c":800,"width_c":600},{"id":"52499632686","owner":"90995431@N06","secret":"ff1b73a923","server":"65535","farm":66,"title":"Gibbs
        lighthouse Bermuda","ispublic":1,"isfriend":0,"isfamily":0,"url_c":"https:\/\/live.staticflickr.com\/65535\/52499632686_ff1b73a923_c.jpg","height_c":800,"width_c":533},{"id":"52499552924","owner":"170134538@N03","secret":"5d79722dc2","server":"65535","farm":66,"title":"VP-BVG
        BD700-1A10 Global Express XRS cn 9193 MVA Aviation 221113 Schiphol 1001","ispublic":1,"isfriend[...]
