---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=<edamam_app_id>&app_key=<edamam_api_key>&q=zbblegoodle
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"q":"zbblegoodle","from":0,"to":10,"more":false,"count":0,"hits":[]}'
  recorded_at: Mon, 14 Nov 2022 18:16:50 GMT
recorded_with: VCR 6.1.0
