---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=<edamam_app_id>&app_key=<edamam_api_key>&q=%7C%7C%7C%7C
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"q":"||||","from":0,"to":10,"more":false,"count":0,"hits":[]}'
  recorded_at: Tue, 15 Nov 2022 14:56:11 GMT
recorded_with: VCR 6.1.0
