---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?api_key=<flickr_api_key>&content_type=1&extras=url_c&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=10&text=%7C%7C%7C%7C
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":0,"perpage":10,"total":0,"photo":[]},"stat":"ok"}'
  recorded_at: Tue, 15 Nov 2022 14:41:46 GMT
recorded_with: VCR 6.1.0
