---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&fields=items(id/videoId,snippet/title)&key=<youtube_api_key>&maxResults=1&part=snippet&q=indonesia
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "items": [
            {
              "id": {
                "videoId": "U2YMewwotiQ"
              },
              "snippet": {
                "title": "A Super Quick History of Indonesia"
              }
            }
          ]
        }
  recorded_at: Tue, 15 Nov 2022 15:17:16 GMT
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?api_key=<flickr_api_key>&content_type=1&extras=url_c&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=10&text=indonesia
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":37389,"perpage":10,"total":373882,"photo":[{"id":"52501642876","owner":"23921613@N05","secret":"edd2f8e3fa","server":"65535","farm":66,"title":".:Special
        Train for the 155th Anniversary of the First Trip of Indonesian Railways:.","ispublic":1,"isfriend":0,"isfamily":0,"url_c":"https:\/\/live.staticflickr.com\/65535\/52501642876_edd2f8e3fa_c.jpg","height_c":800,"width_c":640},{"id":"52501147702","owner":"196936479@N02","secret":"db115c7798","server":"65535","farm":66,"title":"BERKOMPETEN,
        Call\/Wa 0858-7795-9720, Digital Marketing Agency Cipayung SSP Digital Advertising","ispublic":1,"isfriend":0,"isfamily":0,"url_c":"https:\/\/live.staticflickr.com\/65535\/52501147702_db115c7798_c.jpg","height_c":800,"width_c":800},{"id":"52502187243","owner":"196936479@N02","secret":"c192a558fe","server":"65535","farm":66,"title":"BERKOMPETEN,
        Call\/Wa 0858-779[...]
