---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&fields=items(id/videoId,snippet/title)&key=<youtube_api_key>&maxResults=1&part=snippet&q=flooblesward
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "items": []
        }
  recorded_at: Mon, 14 Nov 2022 18:27:37 GMT
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?api_key=<flickr_api_key>&content_type=1&extras=url_c&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=10&text=flooblesward
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":0,"perpage":10,"total":0,"photo":[]},"stat":"ok"}'
  recorded_at: Mon, 14 Nov 2022 18:27:37 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&fields=items(id/videoId,snippet/title)&key=<youtube_api_key>&maxResults=1&part=snippet&q=burkina%20faso
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "items": [
            {
              "id": {
                "videoId": "VXUo1L-Slwc"
              },
              "snippet": {
                "title": "A Super Quick History of Burkina Faso"
              }
            }
          ]
        }
  recorded_at: Mon, 14 Nov 2022 21:46:05 GMT
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?api_key=<flickr_api_key>&content_type=1&extras=url_c&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=10&text=burkina%20faso
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":9174,"perpage":10,"total":91738,"photo":[{"id":"6505933603","owner":"33950163@N03","secret":"3d75589246","server":"65535","farm":66,"title":"N619FF
        Boeing 747-212B Tower Air LAX 18JAN99","ispublic":1,"isfriend":0,"isfamily":0,"url_c":"https:\/\/live.staticflickr.com\/65535\/6505933603_3d75589246_c.jpg","height_c":533,"width_c":800},{"id":"52483200407","owner":"35068899@N03","secret":"1f7cffb3c3","server":"65535","farm":66,"title":"Burkina
        Faso (00211017)","ispublic":1,"isfriend":0,"isfamily":0,"url_c":"https:\/\/live.staticflickr.com\/65535\/52483200407_1f7cffb3c3_c.jpg","height_c":533,"width_c":800},{"id":"52481748735","owner":"37440255@N08","secret":"b9633c3a3e","server":"65535","farm":66,"title":"","ispublic":1,"isfriend":0,"isfamily":0,"url_c":"https:\/\/live.staticflickr.com\/65535\/52481748735_b9633c3a3e[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&fields=items(id/videoId,snippet/title)&key=<youtube_api_key>&maxResults=1&part=snippet&q=mauritania
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "items": [
            {
              "id": {
                "videoId": "vDpaKxDL-xk"
              },
              "snippet": {
                "title": "A Super Quick History of Mauritania"
              }
            }
          ]
        }
  recorded_at: Mon, 14 Nov 2022 21:46:57 GMT
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?api_key=<flickr_api_key>&content_type=1&extras=url_c&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=10&text=mauritania
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photos":[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&fields=items(id/videoId,snippet/title)&key=<youtube_api_key>&maxResults=1&part=snippet&q=maldives
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "items": [
            {
              "id": {
                "videoId": "PvefyIXfqek"
              },
              "snippet": {
                "title": "A Super Quick History of the Maldives"
              }
            }
          ]
        }
  recorded_at: Mon, 14 Nov 2022 21:47:19 GMT
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?api_key=<flickr_api_key>&content_type=1&extras=url_c&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=10&text=maldives
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&fields=items(id/videoId,snippet/title)&key=<youtube_api_key>&maxResults=1&part=snippet&q=Tokelau
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "items": []
        }
  recorded_at: Mon, 14 Nov 2022 21:52:22 GMT
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?api_key=<flickr_api_key>&content_type=1&extras=url_c&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=10&text=Tokelau
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"p[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&fields=items(id/videoId,snippet/title)&key=<youtube_api_key>&maxResults=1&part=snippet&q=snorlaxberg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "items": []
        }
  recorded_at: Mon, 14 Nov 2022 21:53:33 GMT
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?api_key=<flickr_api_key>&content_type=1&extras=url_c&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=10&text=snorlaxberg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":0,"perpage":10,"total":0,"photo":[]},"stat":"ok"}'
  recorded_at: Mon, 14 Nov 2022 21:53:33 GMT
recorded_with: VCR 6.1.0
